# Assignment1

1. Create a list containing squares of numbers from 1 to 10 (HINT: use List Comprehension).

In [1]:
range(0,5)

range(0, 5)

In [2]:
range(1,11)

range(1, 11)

In [4]:
for x in range(1,11):
    print(x*x)

1
4
9
16
25
36
49
64
81
100

In [5]:
[x*x for x in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

2. Write a Function to check if year number is a leap year.

In [ ]:
#1 century year (ends with 00)-->year divided by 400 and year divided by 100 ---->leap year---->1900
#2 year divided by 4 and same year not divided  by 100---->leap year--->2022
#3 else not a leap year

In [7]:
year=int(input("enter a year:"))
if (year%400==0) and (year%100==0):
    print(year,"is a leap year")
elif (year%4==0) and (year%100!=0):
    print(year,"is leap year")
else:
    print(year,"is not a leap year")

enter a year:1998
1998 is not a leap year

3. Write a Function to take an array and return another array that contains the members of first array that are even.

In [8]:
def geteven(a):
    b=[]
    for i in a:
        if i%2==0:
            b.append(i)
    return b
a=[1,2,3,4,5,6,7,8,9]

In [9]:
geteven(a)

[2, 4, 6, 8]

4. Write a Function that takes 2 arrays and prints the members of first array that are present of second array. (HINT: use Membership Comprehension)

In [10]:
a=[2,9,0,5,6]
b=[5,9,6,7,1]

In [11]:
def arr(a,b):
    for i in a:
        if i in b:
            print(i)

In [12]:
arr(a,b)

9
5
6

In [ ]:
[output for loop condition stat]

In [13]:
def arr(a,b):
    c=[i for i in a if i in b]
    return c

In [14]:
arr(a,b)

[9, 5, 6]

# Assignment2

1. Create 1st tuple with values -> (10,20,30), 2nd tuple with values -> (40,50,60).
a. Concatenate the two tuples and store it in “t_combine”
b. Repeat the elements of “t_combine” 3 times
c. Access the 3rd element from “t_combine”
d. Access the first three elements from “t_combine”
e. Access the last three elements from “t_combine”

In [15]:
t1=(10,20,30)
t2=(40,50,60)

In [29]:
type(t1)

tuple

In [17]:
#a
t_combine=t1+t2

In [18]:
print(t_combine)

(10, 20, 30, 40, 50, 60)

In [19]:
#b
t_combine*3

(10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60)

In [20]:
#c
t_combine

(10, 20, 30, 40, 50, 60)

In [21]:
t_combine[2]  #indexing

30

In [23]:
#d
t_combine[0:3]

(10, 20, 30)

In [24]:
t_combine[:3]

(10, 20, 30)

In [25]:
#e
t_combine[3:]

(40, 50, 60)

2. Create a list ‘my_list’ with these elements:
a. First element is a tuple with values 1,2,3
b. Second element is a tuple with values “a”,”b”,”c”
c. Third element is a tuple with values True,False

In [1]:
my_list=[(1,2,3),('a','b','c'),(True,False)]

In [2]:
my_list

[(1, 2, 3), ('a', 'b', 'c'), (True, False)]

In [3]:
type(my_list)

list

3. Append a new tuple – (1,’a’,True) to ‘my_list’
a. Append a new list – *“sparta”,123+ to my_list

In [4]:
new_t=(1,'a',True)

In [5]:
my_list.append(new_t)

In [6]:
my_list

[(1, 2, 3), ('a', 'b', 'c'), (True, False), (1, 'a', True)]

In [7]:
new_l=[*"sparta",123]

In [8]:
my_list.append(new_l)

In [9]:
my_list

[(1, 2, 3),
 ('a', 'b', 'c'),
 (True, False),
 (1, 'a', True),
 ['s', 'p', 'a', 'r', 't', 'a', 123]]

4. Create a dictionary ‘fruit’ where:
a. The first key is ‘Fruit’ and the values are (“Apple”,”Banana”,”Mango”,”Guava”)
b. The second key is ‘Cost’ and the values are (85,54,120,70)
c. Extract all the keys from ‘fruit’
d. Extract all the values from ‘fruit’

In [10]:
fruit={'Fruit':('apple','banana','mango','guava'),
      'Cost':(85,54,120,70)}

In [11]:
fruit.keys()

dict_keys(['Fruit', 'Cost'])

In [12]:
fruit.values()

dict_values([('apple', 'banana', 'mango', 'guava'), (85, 54, 120, 70)])

5. Crete a set named ‘my_set’ with values (1,1,”a”,”a”,True,True) and print the result

In [17]:
my_set={1,1,'a','a',True,True}

In [18]:
my_set

{1, 'a'}

In [ ]:
True=1
False=0

Assignment 1
Input the values of a and b as 10 and 20 respectively. Now check if a is greater or b is greater using if condition. Think about all the edge cases, and print the statements accordingly.

In [1]:
a=10
b=20
if(a>b):
    print("a is greater than b")
if(a<b): 
    print('b is greater than a')

b is greater than a

Assignment 2
Take three user inputs and print the greatest number from those inputs using if-else condition. Edge cases if any, should also be handled.

In [2]:
a=int(input("Enter a: "))
b=int(input("Enter b: "))
c=int(input("Enter c: "))
if(a>b and a>c): 
    print('a is greater than b & c')
elif(b>a and b>c):
    print('b is greater than a & c')
elif(c>a and c>b):
    print('c is greater than a & b')
elif(a==b and a==c):
    print('All 3 inputs are same!!.')
else:
    print("Enter valid number")

Enter a: 2
Enter b: 3
Enter c: 1
b is greater than a & c