In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [27]:
df=pd.read_csv("census-income.csv", skipinitialspace=True)

In [28]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,Unnamed: 14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [29]:
df.shape

(23956, 15)

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23956 entries, 0 to 23955
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             23956 non-null  int64
 1   workclass       23956 non-null  object
 2   fnlwgt          23956 non-null  int64
 3   education       23956 non-null  object
 4   education-num   23956 non-null  int64
 5   marital-status  23956 non-null  object
 6   occupation      23956 non-null  object
 7   relationship    23956 non-null  object
 8   race            23956 non-null  object
 9   sex             23956 non-null  object
 10  capital-gain    23956 non-null  int64
 11  capital-loss    23956 non-null  int64
 12  hours-per-week  23956 non-null  int64
 13  native-country  23956 non-null  object
 14  Unnamed: 14     23955 non-null  object
dtypes: int64(6), object(9)
memory usage: 2.7+ MB

In [31]:
df.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,23956.000000,2.395600e+04,23956.000000,23956.000000,23956.000000,23956.000000
mean,38.587452,1.898795e+05,10.079688,1056.024420,86.133328,40.398731
std,13.678568,1.054074e+05,2.558054,7296.923574,400.508030,12.319617
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.181602e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.784750e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.373790e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [33]:
df.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
Unnamed: 14       1
dtype: int64

In [34]:
df["workclass"].value_counts()

Private             16640
Self-emp-not-inc     1895
Local-gov            1567
?                    1342
State-gov             947
Self-emp-inc          823
Federal-gov           729
Without-pay             8
Never-worked            5
Name: workclass, dtype: int64

In [35]:
df["occupation"].value_counts()

Prof-specialty       3045
Craft-repair         2993
Exec-managerial      2948
Adm-clerical         2853
Sales                2694
Other-service        2436
Machine-op-inspct    1484
?                    1347
Transport-moving     1179
Handlers-cleaners     961
Farming-fishing       734
Tech-support          673
Protective-serv       482
Priv-house-serv       120
Armed-Forces            7
Name: occupation, dtype: int64

In [ ]:
df["native-country"].value_counts()

United-States                 29170
Mexico                          643
?                               583
Philippines                     198
Germany                         137
Canada                          121
Puerto-Rico                     114
El-Salvador                     106
India                           100
Cuba                             95
England                          90
Jamaica                          81
South                            80
China                            75
Italy                            73
Dominican-Republic               70
Vietnam                          67
Guatemala                        64
Japan                            62
Poland                           60
Columbia                         59
Taiwan                           51
Haiti                            44
Iran                             43
Portugal                         37
Nicaragua                        34
Peru                             31
France                           29
Greece                           29
Ecuador                          28
Ireland                          24
Hong                             20
Cambodia                         19
Trinadad&Tobago                  19
Laos                             18
Thailand                         18
Yugoslavia                       16
Outlying-US(Guam-USVI-etc)       14
Honduras                         13
Hungary                          13
Scotland                         12
Holand-Netherlands                1
Name: native-country, dtype: int64

In [40]:
df = df.rename(columns={"Unnamed: 14":"annualIncome"})

In [41]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,annualIncome
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [ ]:
# occupation, native-country, workclass having missing values as "?"

In [42]:
df.isin(["?"]).sum()

age                  0
workclass         1342
fnlwgt               0
education            0
education-num        0
marital-status       0
occupation        1347
relationship         0
race                 0
sex                  0
capital-gain         0
capital-loss         0
hours-per-week       0
native-country     430
annualIncome         0
dtype: int64

In [43]:
df=df.replace('?',np.nan)

In [44]:
df.isnull().sum()

age                  0
workclass         1342
fnlwgt               0
education            0
education-num        0
marital-status       0
occupation        1347
relationship         0
race                 0
sex                  0
capital-gain         0
capital-loss         0
hours-per-week       0
native-country     430
annualIncome         1
dtype: int64

In [12]:
df["workclass"]=df["workclass"].fillna(df["workclass"].mode()[0])

KeyError: 'workclass'

In [45]:
df["occupation"]=df["occupation"].fillna(df["occupation"].mode()[0])

In [46]:
df["native-country"]=df["native-country"].fillna(df["native-country"].mode()[0])

In [47]:
df.isnull().sum()

age                  0
workclass         1342
fnlwgt               0
education            0
education-num        0
marital-status       0
occupation           0
relationship         0
race                 0
sex                  0
capital-gain         0
capital-loss         0
hours-per-week       0
native-country       0
annualIncome         1
dtype: int64

In [50]:
# Q4) Choose the total population with income greater than 50k ?
df.loc[(df["annualIncome"]==">50K"].shape[0]/df.shape[0])*100
# Ans 4 c) 24.08%

SyntaxError: closing parenthesis ']' does not match opening parenthesis '(' (570669058.py, line 2)

In [18]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23951,29,Self-emp-not-inc,33798,HS-grad,9,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,45,United-States,<=50K
23952,59,Private,81929,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,2415,45,United-States,>50K
23953,22,Private,298489,Some-college,10,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K
23954,30,?,101697,Bachelors,13,Married-civ-spouse,?,Wife,White,Female,0,0,20,United-States,<=50K
23955,31,Private,144064,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,48,United-Stat,NaN

In [51]:
df[(df['occupation']=='Tech-support') & (df['annualIncome']=='>50K')].shape

(206, 15)

In [ ]:
df["relationship"].unique()

array(['Not-in-family', 'Husband', 'Wife', 'Own-child', 'Unmarried',
       'Other-relative'], dtype=object)

In [ ]:
# Q5) Compute how many samples of the population are unmarried and working hours less than 20 hours?
df.loc[(df["relationship"]=="Unmarried")&(df["hours-per-week"]<20)].shape[0]
# Ans 5 d) 123

123

In [ ]:
# Q6) min,max and 50th percentile of the age
# Ans) 6 c) [17,90,37]

In [ ]:
np.min(df["age"])

17

In [ ]:
np.max(df["age"])

90

In [ ]:
np.median(df["age"])

37.0

In [ ]:
#Q7) From above census data which country has the highest population and the lowest population?
# Ans 7 c) United-States and Holand-Netherlands

In [ ]:
df["native-country"].value_counts()

United-States                 29753
Mexico                          643
Philippines                     198
Germany                         137
Canada                          121
Puerto-Rico                     114
El-Salvador                     106
India                           100
Cuba                             95
England                          90
Jamaica                          81
South                            80
China                            75
Italy                            73
Dominican-Republic               70
Vietnam                          67
Guatemala                        64
Japan                            62
Poland                           60
Columbia                         59
Taiwan                           51
Haiti                            44
Iran                             43
Portugal                         37
Nicaragua                        34
Peru                             31
France                           29
Greece                           29
Ecuador                          28
Ireland                          24
Hong                             20
Cambodia                         19
Trinadad&Tobago                  19
Laos                             18
Thailand                         18
Yugoslavia                       16
Outlying-US(Guam-USVI-etc)       14
Honduras                         13
Hungary                          13
Scotland                         12
Holand-Netherlands                1
Name: native-country, dtype: int64

In [ ]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,Annual_Income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [ ]:
from sklearn.preprocessing import LabelEncoder
l1=LabelEncoder()
df["workclass"]= l1.fit_transform(df["workclass"])
df["education"]= l1.fit_transform(df["education"])
df["marital-status"]= l1.fit_transform(df["marital-status"])
df["occupation"]= l1.fit_transform(df["occupation"])
df["relationship"]= l1.fit_transform(df["relationship"])
df["race"]= l1.fit_transform(df["race"])
df["sex"]= l1.fit_transform(df["sex"])
df["native-country"]= l1.fit_transform(df["native-country"])
df["Annual_Income"]= l1.fit_transform(df["Annual_Income"])

In [ ]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,Annual_Income
0,39,6,77516,9,13,4,0,1,4,1,2174,0,40,38,0
1,50,5,83311,9,13,2,3,0,4,1,0,0,13,38,0
2,38,3,215646,11,9,0,5,1,4,1,0,0,40,38,0
3,53,3,234721,1,7,2,5,0,2,1,0,0,40,38,0
4,28,3,338409,9,13,2,9,5,2,0,0,0,40,4,0

In [ ]:
X=df.drop(columns=["Annual_Income"])
y=df["Annual_Income"]

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.25,random_state=42)

In [ ]:
from sklearn.preprocessing import StandardScaler
s1=StandardScaler()
x_train=s1.fit_transform(x_train)
x_test=s1.transform(x_test)

In [ ]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
from sklearn.model_selection import RandomizedSearchCV

In [ ]:
from sklearn.model_selection import RandomizedSearchCV
n_estimators = [int(x) for x in np.linspace(start = 40, stop = 150, num = 15)]
max_depth = [int(x) for x in np.linspace(40, 150, num = 15)]
param_dist = {
    'n_estimators' : n_estimators,
    'max_depth' : max_depth,
}
rf_tuned = RandomForestClassifier(random_state = 42)
rf_cv = RandomizedSearchCV(estimator = rf_tuned, param_distributions = param_dist, cv = 5, random_state = 42)
rf_cv.fit(x_train, y_train)

RandomizedSearchCV(cv=5, estimator=RandomForestClassifier(random_state=42),
                   param_distributions={'max_depth': [40, 47, 55, 63, 71, 79,
                                                      87, 95, 102, 110, 118,
                                                      126, 134, 142, 150],
                                        'n_estimators': [40, 47, 55, 63, 71, 79,
                                                         87, 95, 102, 110, 118,
                                                         126, 134, 142, 150]},
                   random_state=42)

In [ ]:
rf_cv.best_score_

0.8550778050778052

In [ ]:
rf_cv.best_params_

{'n_estimators': 110, 'max_depth': 40}

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
rf_best = RandomForestClassifier(max_depth =40, n_estimators =110, random_state = 42)
rf_best.fit(x_train, y_train)
y_pred = rf_best.predict(x_test)
print('Random Forest Classifier:') 
print('Accuracy score:',round(accuracy_score(y_test,y_pred) * 100, 2))

Random Forest Classifier:
Accuracy score: 86.18

In [ ]:
# accuracy is 86.18