Online Retail Customer Segmentation Analysis

Import the necessary libraries

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math
import matplotlib.mlab as mlab
import datetime
import scipy
import scipy.stats as stats
import seaborn as sns
from datetime import datetime

Import the dataset

In [3]:
df=pd.read_excel(r'C:\Users\subi\Downloads\OnlineRetail.xlsx')
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-01-12 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-01-12 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-01-12 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-01-12 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-01-12 08:26:00,3.39,17850.0,United Kingdom

Exploratery data analysis

In [19]:
df.isnull().sum()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
Amount         0
dtype: int64

find the rows and columns

In [5]:
df.shape

(541909, 8)

In [21]:
df.describe()

            Quantity      UnitPrice         Amount
count  406829.000000  406829.000000  406829.000000
mean       12.061303       3.460471      20.401854
std       248.693370      69.315162     427.591718
min    -80995.000000       0.000000 -168469.600000
25%         2.000000       1.250000       4.200000
50%         5.000000       1.950000      11.100000
75%        12.000000       3.750000      19.500000
max     80995.000000   38970.000000  168469.600000

drop the null values

In [6]:
df=df.dropna()

In [7]:
df.shape

(406829, 8)

In [8]:
df.dtypes

InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country         object
dtype: object

changing the datatype

In [9]:
df['CustomerID']=df['CustomerID'].astype(str)

In [10]:
df.dtypes

InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID      object
Country         object
dtype: object

data preparation

adding new column named amount

In [ ]:
df['Amount']=df['Quantity']*df['UnitPrice']
df.head()

grouping customer id and get amount for monetary factor

In [12]:
rfm_m=df.groupby('CustomerID')['Amount'].sum()
rfm_m

CustomerID
12346.0       0.00
12347.0    4310.00
12348.0    1797.24
12349.0    1757.55
12350.0     334.40
            ...
18280.0     180.60
18281.0      80.82
18282.0     176.60
18283.0    2094.88
18287.0    1837.28
Name: Amount, Length: 4372, dtype: float64

reset index with amount

In [13]:
rfm_m=rfm_m.reset_index()
rfm_m

     CustomerID   Amount
0       12346.0     0.00
1       12347.0  4310.00
2       12348.0  1797.24
3       12349.0  1757.55
4       12350.0   334.40
...         ...      ...
4367    18280.0   180.60
4368    18281.0    80.82
4369    18282.0   176.60
4370    18283.0  2094.88
4371    18287.0  1837.28

[4372 rows x 2 columns]

grouping customer id based on invoice no for frequency factor

In [14]:
rfm_f=df.groupby('CustomerID')['InvoiceNo'].count().reset_index()
rfm_f

     CustomerID  InvoiceNo
0       12346.0          2
1       12347.0        182
2       12348.0         31
3       12349.0         73
4       12350.0         17
...         ...        ...
4367    18280.0         10
4368    18281.0          7
4369    18282.0         13
4370    18283.0        756
4371    18287.0         70

[4372 rows x 2 columns]

merging monetary and frequency factors on basis of customer id

In [15]:
rfm=pd.merge(rfm_m,rfm_f,on='CustomerID',how='inner')
rfm.head()

  CustomerID   Amount  InvoiceNo
0    12346.0     0.00          2
1    12347.0  4310.00        182
2    12348.0  1797.24         31
3    12349.0  1757.55         73
4    12350.0   334.40         17

In [16]:
rfm.shape

(4372, 3)

In [17]:
df.dtypes

InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID      object
Country         object
Amount         float64
dtype: object

In [1]:
df['InvoiceDate']=pd.to_datetime (df['InvoiceDate'],format='%Y-%d-%m  %H:%M:%S')

NameError: name 'pd' is not defined

In [ ]:
df

In [ ]:
max_date=max(df['InvoiceDate'])

In [ ]:
df[Diff]=max_date -df['InvoiceDate']
df

In [ ]:
rfm_r=df.groupby('CustomerID')['Diff'].min().reset_index
rfm_r

In [ ]:
df

In [ ]:
import datetime as dt

In [ ]:
rfm_r[Diff]=rfm_r[Diff].dt.days

In [ ]:
rfm=pd.merge(rfm,rfm_r,CustomerID,how='inner')

In [ ]:
rfm

In [ ]:
rfm.columns=['CustomerID','Amount','Frequency','Recency']
rfm.head()

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
attr=[Amount,Recency,Frequency]
sns.boxplot(data.rfm[attr])
plt.figsize=(10,5)
plt.plot()

In [ ]:
Q1=rfm.Amount.quantile(0.25)

In [ ]:
Q3=rfm.Amount.quantile(0.75)

In [ ]:
IQR=Q3-Q1

In [ ]:
IQR

In [ ]:
Q1-1.5*IQR

In [ ]:
Q3+1.5*IQR

In [ ]:
Q1=rfm.Amount.quantile(0.25)
Q3=rfm.Amount.quantile(0.75)
IQR=Q3-Q1
rfm=[rfm(rfm.Amount)>=Q1-1.5*IQR)&(rfm(rfm.Amount)<=Q3+1.5*IQR]
Q1=rfm.Frequency.quantile(0.25)
Q3=rfm.Frequency.quantile(0.75)
IQR=Q3-Q1
rfm=[rfm(rfm.Frequency)>=Q1-1.5*IQR)&(rfm(rfm.Frequency)<=Q3+1.5*IQR]
Q1=rfm.Recency.quantile(0.25)
Q3=rfm.Recency.quantile(0.75)
IQR=Q3-Q1
rfm=[rfm(rfm.Recency)>=Q1-1.5*IQR)&(rfm(rfm.Recency)<=Q3+1.5*IQR]

In [ ]:
rfm

In [ ]:
rfm.describe()

In [ ]:
from sklearn .cluster import KMeans
KMeans=KMeans(n_clusters=4)
KMeans.fit(rfm_df_scaled)
KMeans.labels_

In [ ]:
ssd=[]
for i in range (1,11):
    kmeans=KMeans(n_clusters=i)
kmeans.fit(rfm_df_scaled)
ssd.append(kmeans.inertia_)
ssd

In [ ]:
plt.plot(ssd)

In [ ]:
KMeans=KMeans(n_clusters=4)
KMeans.fit(rfm_df_scaled)
KMeans.labels_

In [ ]:
kmeans.labels_

In [ ]:
rfm['Cluster_id']=kmeans.labels_
rfm.head()

In [ ]:
sns.boxplot(x='cluster_id',y='Amount',data=rfm)

In [ ]:
sns.boxplot(x='cluster_id',y='Recency',data=rfm)

In [ ]:
sns.boxplot(x='cluster_id',y='Frequency',data=rfm)

0    15.30
1    20.34
2    22.00
3    20.34
4    20.34
Name: Amount, dtype: float64

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Amount
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-01-12 08:26:00,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-01-12 08:26:00,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-01-12 08:26:00,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-01-12 08:26:00,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-01-12 08:26:00,3.39,17850.0,United Kingdom,20.34

.

.